TravelAppSample/TravelAppSample.pro.user
build-TravelAppSample-Desktop_Qt_5_4_2_MSVC2013_64bit-Debug/*
TravelAppSample/TravelAppSample.pro.user.3.2-pre1
build-TravelAppSample-Desktop_Qt_5_4_2_MSVC2012_OpenGL_32bit-Debug/*
